
/* TYPE SELECTORS */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-width: 1100px;
}

.body {
    display: flex;
    flex: 1;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 120px;
    display: flex;
}

li {
    display: inline;
    margin-right: 25px;
    border-bottom: 1px solid #fff;

}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }

/* HEADER CONTENT */

.header-container {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 200px;
}

.header-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-two {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding: 80px;
}

.header-two-child {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: flex-start;
    padding-bottom: 60px;
    padding-left: 15px;
}

.header-ragdoll-img {
    height: 120px;
    width: 150px;
    margin: 10px;
    margin-left: 50px;
}

.button {
    width: 120px;
    height: 25px;
    background-color: #3882f6;
    color: #fff;
    border-radius: 8px;
    text-align: center;
    line-height: 1.1;
    font-weight: bold;
    border-style: solid;
    border-color: #fff;
  }

  .header-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin-bottom: 10px;
  }

  .header-text {
    font-size: 18px;
    color: lightgrey;
  }


/* HEADER CONTENT END */


/*BODY SECTION ONE CONTENT */

.body-one-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background-color: #fff;
    padding: 20px;
    gap: 50px;
    align-self: center;
    flex-direction: column;
}

.cat-images-container {
    display: flex;
    gap: 60px;
    padding: 10px;
}

.body-one-heading {
    display: flex;
    justify-content: center;
    color: #1f2937;
    font-weight: bold;
    font-size: 36px;
}

.item-one {
    align-items: center;
    display:inline-block;
    width: 190px;
}
.img-one {
    width: 200px;
    height: 180px;
    background-color: grey;
    align-items: center;
    outline: 2px solid #3882f6;
    border-radius: 8px;
}

.caption-one {
    
}






/*BODY SECTION ONE CONTENT END*/

.body-two {

}

.body-three {

}

.footer {

}